
/* General */

.route-container {
  padding: 20px;
  width: 100%;
}

/* Miss 404 */

#missing-404 {
}

/* Header */

#app-header {
  background-color: #ddd;
}

#app-header * {
  display: inline-block;
}

#app-header .nav-item {
  padding: 15px 25px;
}

#app-header .active-nav-item {
  background-color: white;
}

#app-header nav {
  display: block;
}
